#app {
    position: absolute;
    top: 0;
    left: 0;
    background: #fafafa;
    width: 100%;
    min-height: 100%;
    z-index: 1000;
    display: flex
}

*,
::before,
::after {
    background-repeat: no-repeat;
    box-sizing: border-box
}

::before,
::after {
    text-decoration: inherit;
    vertical-align: inherit
}

html {
    cursor: default;
    -moz-tab-size: 4;
    tab-size: 4;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    word-break: break-word
}

hr {
    height: 0;
    overflow: visible
}

main {
    display: block
}

a {
    background-color: transparent
}

strong {
    font-weight: bolder
}

::selection {
    background-color: #b3d4fc;
    color: #000;
    text-shadow: none
}

iframe,
img,
svg {
    vertical-align: middle
}

img {
    border-style: none
}

svg:not([fill]) {
    fill: currentColor
}

svg:not(:root) {
    overflow: hidden
}

input {
    font-family: inherit;
    line-height: inherit
}

button {
    overflow: visible;
    text-transform: none
}

[type="button"] {
    -webkit-appearance: button
}

input {
    overflow: visible
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

a,
input,
[tabindex] {
    -ms-touch-action: manipulation;
    touch-action: manipulation
}

@-webkit-keyframes FiaaB {
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes FiaaB {
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes gTcftA {

    10%,
    90% {
        -webkit-transform: translate3d(-1px, 0, 0);
        -ms-transform: translate3d(-1px, 0, 0);
        transform: translate3d(-1px, 0, 0)
    }

    20%,
    80% {
        -webkit-transform: translate3d(2px, 0, 0);
        -ms-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0)
    }

    30%,
    50%,
    70% {
        -webkit-transform: translate3d(-4px, 0, 0);
        -ms-transform: translate3d(-4px, 0, 0);
        transform: translate3d(-4px, 0, 0)
    }

    40%,
    60% {
        -webkit-transform: translate3d(4px, 0, 0);
        -ms-transform: translate3d(4px, 0, 0);
        transform: translate3d(4px, 0, 0)
    }
}

@keyframes gTcftA {

    10%,
    90% {
        -webkit-transform: translate3d(-1px, 0, 0);
        -ms-transform: translate3d(-1px, 0, 0);
        transform: translate3d(-1px, 0, 0)
    }

    20%,
    80% {
        -webkit-transform: translate3d(2px, 0, 0);
        -ms-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0)
    }

    30%,
    50%,
    70% {
        -webkit-transform: translate3d(-4px, 0, 0);
        -ms-transform: translate3d(-4px, 0, 0);
        transform: translate3d(-4px, 0, 0)
    }

    40%,
    60% {
        -webkit-transform: translate3d(4px, 0, 0);
        -ms-transform: translate3d(4px, 0, 0);
        transform: translate3d(4px, 0, 0)
    }
}

@-webkit-keyframes caPIRE {
    0% {
        -webkit-transform: scale(.75);
        -ms-transform: scale(.75);
        transform: scale(.75)
    }

    20% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }

    40% {
        -webkit-transform: scale(.75);
        -ms-transform: scale(.75);
        transform: scale(.75)
    }

    60% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }

    80% {
        -webkit-transform: scale(.75);
        -ms-transform: scale(.75);
        transform: scale(.75)
    }

    100% {
        -webkit-transform: scale(.75);
        -ms-transform: scale(.75);
        transform: scale(.75)
    }
}

@keyframes caPIRE {
    0% {
        -webkit-transform: scale(.75);
        -ms-transform: scale(.75);
        transform: scale(.75)
    }

    20% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }

    40% {
        -webkit-transform: scale(.75);
        -ms-transform: scale(.75);
        transform: scale(.75)
    }

    60% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }

    80% {
        -webkit-transform: scale(.75);
        -ms-transform: scale(.75);
        transform: scale(.75)
    }

    100% {
        -webkit-transform: scale(.75);
        -ms-transform: scale(.75);
        transform: scale(.75)
    }
}

.fUuvxv {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear
}

.bgInfo__s5-ty div {
    background: #64b5f6
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    -webkit-transition: background-color 150ms ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    white-space: nowrap
}

button:focus,
input[type="button"]:focus,
input[type="submit"]:focus {
    outline: none;
    outline-offset: inherit
}

button:disabled,
input[type="button"]:disabled,
input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5
}

button:disabled:hover,
input[type="button"]:disabled:hover,
input[type="submit"]:disabled:hover {
    background-color: #E0E0E0
}

input[type="text"] {
    word-break: normal
}

html {
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

*:focus {
    outline: none
}

html,
body {
    height: 100%
}

body {
    margin: 0
}

img {
    margin: 0;
    max-width: 100%
}

table {
    border-collapse: collapse;
    margin: 1.5em 0;
    text-align: left;
    width: 100%
}

tbody {
    vertical-align: top
}

tr {
    border-bottom: 1px solid #E0E0E0
}

td {
    padding: 0.75em 1.5em
}

@media screen and (max-width: 1400px) {
    td {
        padding: 0.75em;
        padding-left: 1.5em
    }
}

html {
    color: #424242;
    font-family: "Open Sans", sans-serif;
    font-size: 100%;
    line-height: 1.5
}

a {
    color: #2196f3;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
    -webkit-transition: color 150ms ease;
    transition: color 150ms ease
}

a:focus {
    outline: none;
    outline-offset: none
}

hr {
    border-bottom: 1px solid #E0E0E0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: 1.5em 0
}

svg {
    fill: currentColor
}

.MuiLinearProgress-root {
    height: 4px;
    overflow: hidden;
    position: relative;
    border-radius: 16px
}

.MuiLinearProgress-colorPrimary {
    background-color: #ededed
}

.MuiLinearProgress-bar {
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    position: absolute;
    border-radius: 16px;
    transform-origin: left
}

.MuiLinearProgress-barColorPrimary {
    background-color: #2196F3
}

.MuiLinearProgress-bar1Determinate {
    transition: transform .4s linear
}

@-webkit-keyframes MuiLinearProgress-keyframes-indeterminate1 {
    0% {
        left: -35%;
        right: 100%
    }

    60% {
        left: 100%;
        right: -90%
    }

    100% {
        left: 100%;
        right: -90%
    }
}

@-webkit-keyframes MuiLinearProgress-keyframes-indeterminate2 {
    0% {
        left: -200%;
        right: 100%
    }

    60% {
        left: 107%;
        right: -8%
    }

    100% {
        left: 107%;
        right: -8%
    }
}

@-webkit-keyframes MuiLinearProgress-keyframes-buffer {
    0% {
        opacity: 1;
        background-position: 0 -23px
    }

    50% {
        opacity: 0;
        background-position: 0 -23px
    }

    100% {
        opacity: 1;
        background-position: -200px -23px
    }
}

.MuiTypography-root {
    margin: 0
}

.MuiTypography-body2 {
    font-size: 0.875rem;
    font-family: Open Sans, sans-serif;
    font-weight: 500;
    line-height: 1.43
}

.MuiTypography-body1 {
    font-size: 1rem;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    line-height: 1.5
}

.MuiTypography-h6 {
    font-size: 1.25rem;
    font-family: Open Sans, sans-serif;
    font-weight: 600;
    line-height: 1.6
}

.MuiTypography-alignCenter {
    text-align: center
}

.MuiTypography-displayBlock {
    display: block
}

.MuiPaper-root {
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #FFFFFF
}

.MuiPaper-rounded {
    border-radius: 8px
}

.MuiPaper-elevation0 {
    box-shadow: none
}

.MuiPaper-elevation3 {
    box-shadow: 0px 1px 8px 0px rgba(80, 80, 80, 0.2), 0px 3px 4px 0px rgba(80, 80, 80, 0.14), 0px 3px 3px -2px rgba(80, 80, 80, 0.12)
}

.MuiPaper-elevation8 {
    box-shadow: 0px 5px 5px -3px rgba(80, 80, 80, 0.2), 0px 8px 10px 1px rgba(80, 80, 80, 0.14), 0px 3px 14px 2px rgba(80, 80, 80, 0.12)
}

.MuiPaper-elevation24 {
    box-shadow: 0px 11px 15px -7px rgba(80, 80, 80, 0.2), 0px 24px 38px 3px rgba(80, 80, 80, 0.14), 0px 9px 46px 8px rgba(80, 80, 80, 0.12)
}

.MuiAppBar-root {
    width: 100%;
    display: flex;
    box-shadow: none;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-direction: column
}

.MuiAppBar-positionFixed {
    top: 0;
    left: auto;
    right: 0
}

.MuiAppBar-colorPrimary {
    color: #fff;
    background-color: #2196F3
}

.MuiToolbar-root {
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 8px
}

.MuiToolbar-regular {
    min-height: 56px
}

@media (min-width: 0px) and (orientation:landscape) {
    .MuiToolbar-regular {
        min-height: 48px
    }
}

@media (min-width: 600px) {
    .MuiToolbar-regular {
        min-height: 64px
    }
}

.MuiTouchRipple-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none
}

@-webkit-keyframes MuiTouchRipple-keyframes-enter {
    0% {
        opacity: 0.1;
        transform: scale(0)
    }

    100% {
        opacity: 0.3;
        transform: scale(1)
    }
}

@-webkit-keyframes MuiTouchRipple-keyframes-exit {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes MuiTouchRipple-keyframes-pulsate {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(0.92)
    }

    100% {
        transform: scale(1)
    }
}

.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent
}

.MuiButtonBase-root.Mui-disabled {
    cursor: default;
    pointer-events: none
}

.MuiFab-root {
    padding: 0;
    font-size: 0.875rem;
    min-width: 0;
    box-sizing: border-box;
    min-height: 36px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: Open Sans, sans-serif;
    font-weight: 600;
    line-height: 1.75;
    border-radius: 50%;
    text-transform: uppercase
}

.MuiFab-root:active {
    box-shadow: 0px 7px 8px -4px rgba(80, 80, 80, 0.2), 0px 12px 17px 2px rgba(80, 80, 80, 0.14), 0px 5px 22px 4px rgba(80, 80, 80, 0.12)
}

.MuiFab-root:hover {
    text-decoration: none;
    background-color: #d5d5d5
}

@media (hover: none) {
    .MuiFab-root:hover {
        background-color: #e0e0e0
    }
}

.MuiFab-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit
}

.MuiFab-sizeSmall {
    width: 40px;
    height: 40px
}

.MuiIconButton-root {
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    padding: 12px;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%
}

.MuiIconButton-root:hover {
    background-color: rgba(0, 0, 0, 0.05)
}

@media (hover: none) {
    .MuiIconButton-root:hover {
        background-color: transparent
    }
}

.MuiIconButton-label {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit
}

.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none
}

.jss106 {
    box-shadow: 0px 1px 8px 0px rgb(80 80 80 / 20%), 0px 3px 4px 0px rgb(80 80 80 / 14%), 0px 3px 3px -2px rgb(80 80 80 / 12%);
    background-attachment: fixed;
}

.jss106.jss104 {
    background-color: #2196F3;
}

.jss84 {
    z-index: 1201;
    background: rgba(0, 0, 0, 0)
}

.jss84 .jss94 {
    color: #2196F3;
    z-index: 10
}

.jss84.jss90 .jss94 {
    margin-left: 13px
}

.jss84.jss90 .jss134 {
    left: 16px
}

.jss86 {
    position: fixed
}

.jss93 {
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, margin 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, background 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms
}

.jss93 .jss94 {
    box-shadow: 0 2px 40px -5px #2196F3;
    background-color: #E3F2FD
}

.jss93 .jss132 {
    margin-left: 8px
}

@media (min-width: 1280px) {
    .jss93.jss90 {
        width: calc(100% - 240px);
        margin-left: 240px
    }
}

@media (min-width: 1280px) {
    .jss93.jss90 .jss94 {
        margin-left: -20px
    }
}

.jss108 {
    height: 20px;
    margin: 0 10px;
    opacity: 0.4;
    border-left: 1px solid #e0e0e0
}

.jss129 {
    flex: 1;
    display: flex;
    z-index: 1;
    overflow: hidden;
    position: relative;
    align-items: center
}

.jss132 {
    margin: 0 24px;
    transition: opacity 0.5s ease
}

.jss132 .jss128 i {
    color: rgba(255, 255, 255, 0.87);
    width: 28px;
    height: 28px;
    font-size: 28px
}

.jss134 {
    top: 60px;
    color: #fff;
    opacity: 0;
    position: absolute;
    font-size: 24px;
    transition: all 0.3s ease;
    font-weight: 700;
    text-transform: capitalize
}

.MuiBackdrop-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: -1;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-tap-highlight-color: transparent
}

.MuiDrawer-docked {
    flex: 0 0 auto
}

.MuiDrawer-paper {
    top: 0;
    flex: 1 0 auto;
    display: flex;
    outline: 0;
    z-index: 1200;
    overflow-y: auto;
    flex-direction: column;
    -webkit-overflow-scrolling: touch
}

.MuiDrawer-paperAnchorLeft {
    left: 0;
    right: auto
}

.MuiDrawer-paperAnchorDockedLeft {
    border-right: 1px solid rgba(0, 0, 0, 0.12)
}

.MuiList-root {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none
}

.MuiList-padding {
    padding-top: 8px;
    padding-bottom: 8px
}

.MuiListItem-root {
    width: 100%;
    display: flex;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: flex-start;
    text-decoration: none
}

.MuiListItem-gutters {
    padding-left: 16px;
    padding-right: 16px
}

.MuiListItem-button {
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms
}

.MuiListItem-button:hover {
    text-decoration: none;
    background-color: rgba(80, 80, 80, 0.05)
}

@media (hover: none) {
    .MuiListItem-button:hover {
        background-color: transparent
    }
}

.MuiListItemIcon-root {
    color: rgba(0, 0, 0, 0.54);
    display: inline-flex;
    flex-shrink: 0
}

.MuiListItemText-root {
    flex: 1 1 auto;
    min-width: 0;
    margin-top: 4px;
    white-space: nowrap;
    margin-bottom: 4px
}

.MuiListItemText-inset {
    padding-left: 56px
}

.MuiListSubheader-root {
    box-sizing: border-box;
    list-style: none;
    font-family: Open Sans, sans-serif
}

.MuiListSubheader-gutters {
    padding-right: 16px
}

.MuiCollapse-container {
    transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms
}

.MuiCollapse-entered {
    overflow: visible
}

.MuiCollapse-wrapper {
    display: flex
}

.MuiCollapse-wrapperInner {
    width: 100%
}

.jss257 .jss272,
.jss257 .jss273 {
    color: #2196F3
}

.jss257:before {
    top: 0;
    left: 0;
    width: 5px;
    height: 48px;
    content: "";
    position: absolute;
    background: rgba(124, 77, 255, 0.5)
}

.jss266 {
    margin: 4px 0;
    padding-top: 4px;
    padding-bottom: 4px
}

@media (max-width: 1919.95px) {
    .jss266 {
        padding-left: 24px
    }
}

.jss268 {
    color: #00BFA5;
    display: block;
    font-size: 10px;
    margin-top: 24px;
    font-weight: bold;
    line-height: 28px;
    padding-left: 80px;
    text-transform: uppercase
}

.jss269 {
    margin-left: -15px
}

.jss269>.jss268:first-child {
    margin: 0
}

.jss271 {
    list-style: none
}

.jss272 {
    white-space: nowrap
}

.jss273 {
    fill: #311B92;
    min-width: 40px
}

.jss274 {
    font-size: 24px;
    min-width: 40px;
}

.jss275 {
    margin: 8px 0;
    padding: 8px 0;
    padding-left: 24px;
    border-radius: 0 24px 24px 0;
}

.jss275.jss274 {
    padding-left: 24px;
}

.jss275 svg[class^="MuiSvgIcon"] {
    left: -10px;
    position: relative
}

.jss213 {
    justify-content: center
}

.jss219 {
    height: 100%;
    position: fixed;
    box-shadow: 0 10px 15px -5px rgba(62, 57, 107, .07);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255, 255, 255, 0.9)
}

.jss221 {
    padding: 0;
    z-index: 1;
    position: relative;
    min-height: 56px
}

@media (min-width: 0px) and (orientation:landscape) {
    .jss221 {
        min-height: 48px
    }
}

@media (min-width: 600px) {
    .jss221 {
        min-height: 64px
    }
}

.jss224 {
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, margin 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, background 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms
}

.jss224:after {
    transition: box-shadow 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms
}

.jss238 {
    color: rgba(0, 0, 0, 0.87);
    height: 64px;
    margin: 0;
    display: flex;
    padding: 10px 10px 5px;
    position: relative;
    font-size: 16px;
    align-items: center;
    font-weight: 500;
    justify-content: center;
    text-decoration: none
}

.jss238 img {
    width: 30px;
    margin-right: 10px;
}

.jss240 {
    width: 100%;
    height: 120px;
    margin: 16px 0;
    display: flex;
    padding: 10px;
    z-index: 0;
    position: absolute;
    font-size: 14px;
    text-align: center;
    align-items: center;
    flex-direction: column
}

.jss250 {
    width: 240px;
    height: calc(100% - 64px);
    display: block;
    padding: 40px 0;
    overflow: auto;
    position: relative
}

.jss250.jss251 {
    padding-top: 16px
}

.jss250.jss248 {
    padding-right: 12px
}

.jss250::-webkit-scrollbar {
    width: 8px
}

.jss250::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0)
}

.jss250:hover::-webkit-scrollbar-thumb {
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(0, 0, 0, 0.3)
}

.jss250.jss247 a {
    border-radius: 0 24px 24px 0
}

.MuiButton-root {
    color: rgba(0, 0, 0, 0.87);
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: Open Sans, sans-serif;
    font-weight: 600;
    line-height: 1.75;
    border-radius: 20px;
    text-transform: uppercase
}

.MuiButton-root:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.05)
}

.MuiButton-root.Mui-disabled {
    color: rgba(0, 0, 0, 0.26)
}

@media (hover: none) {
    .MuiButton-root:hover {
        background-color: transparent
    }
}

.MuiButton-root:hover.Mui-disabled {
    background-color: transparent
}

.MuiButton-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit
}

.MuiButton-contained {
    box-shadow: none
}

.MuiButton-contained:hover {
    box-shadow: 0px 2px 4px -1px rgba(80, 80, 80, 0.2), 0px 4px 5px 0px rgba(80, 80, 80, 0.14), 0px 1px 10px 0px rgba(80, 80, 80, 0.12);
    background-color: #d5d5d5
}

.MuiButton-contained:active {
    box-shadow: 0px 5px 5px -3px rgba(80, 80, 80, 0.2), 0px 8px 10px 1px rgba(80, 80, 80, 0.14), 0px 3px 14px 2px rgba(80, 80, 80, 0.12)
}

@media (hover: none) {
    .MuiButton-contained:hover {
        box-shadow: 0px 1px 5px 0px rgba(80, 80, 80, 0.2), 0px 2px 2px 0px rgba(80, 80, 80, 0.14), 0px 3px 1px -2px rgba(80, 80, 80, 0.12);
        background-color: #e0e0e0
    }
}

.MuiButton-containedPrimary {
    color: #fff;
    background-color: #2196F3
}

.MuiButton-containedPrimary:hover {
    background-color: #1565C0
}

@media (hover: none) {
    .MuiButton-containedPrimary:hover {
        background-color: #2196F3
    }
}

.MuiButton-containedSecondary {
    color: #fff;
    background-color: #00BFA5
}

.MuiButton-containedSecondary:hover {
    background-color: #00796B
}

@media (hover: none) {
    .MuiButton-containedSecondary:hover {
        background-color: #00BFA5
    }
}

.MuiButton-textSizeSmall {
    font-size: 0.8125rem
}

.MuiButton-sizeSmall {
    padding: 7px 12px
}

.MuiGrid-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box
}

.MuiGrid-item {
    margin: 0;
    box-sizing: border-box
}

.MuiGrid-direction-xs-column {
    flex-direction: column
}

.MuiGrid-align-items-xs-center {
    align-items: center
}

.MuiGrid-align-items-xs-flex-start {
    align-items: flex-start
}

.MuiGrid-align-items-xs-flex-end {
    align-items: flex-end
}

.MuiGrid-justify-xs-center {
    justify-content: center
}

.MuiGrid-justify-xs-flex-end {
    justify-content: flex-end
}

.MuiGrid-spacing-xs-1 {
    width: calc(100% + 8px);
    margin: -4px
}

.MuiGrid-spacing-xs-1>.MuiGrid-item {
    padding: 4px
}

.MuiGrid-spacing-xs-2 {
    width: calc(100% + 16px);
    margin: -8px
}

.MuiGrid-spacing-xs-2>.MuiGrid-item {
    padding: 8px
}

.MuiGrid-spacing-xs-3 {
    width: calc(100% + 24px);
    margin: -12px
}

.MuiGrid-spacing-xs-3>.MuiGrid-item {
    padding: 12px
}

.MuiGrid-grid-xs-2 {
    flex-grow: 0;
    max-width: 16.666667%;
    flex-basis: 16.666667%
}

.MuiGrid-grid-xs-5 {
    flex-grow: 0;
    max-width: 41.666667%;
    flex-basis: 41.666667%
}

.MuiGrid-grid-xs-7 {
    flex-grow: 0;
    max-width: 58.333333%;
    flex-basis: 58.333333%
}

.MuiGrid-grid-xs-12 {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%
}

@media (min-width: 600px) {
    .MuiGrid-grid-sm-2 {
        flex-grow: 0;
        max-width: 16.666667%;
        flex-basis: 16.666667%
    }

    .MuiGrid-grid-sm-3 {
        flex-grow: 0;
        max-width: 25%;
        flex-basis: 25%
    }

    .MuiGrid-grid-sm-6 {
        flex-grow: 0;
        max-width: 50%;
        flex-basis: 50%
    }

    .MuiGrid-grid-sm-12 {
        flex-grow: 0;
        max-width: 100%;
        flex-basis: 100%
    }
}

@media (min-width: 960px) {
    .MuiGrid-grid-md-2 {
        flex-grow: 0;
        max-width: 16.666667%;
        flex-basis: 16.666667%
    }

    .MuiGrid-grid-md-3 {
        flex-grow: 0;
        max-width: 25%;
        flex-basis: 25%
    }

    .MuiGrid-grid-md-4 {
        flex-grow: 0;
        max-width: 33.333333%;
        flex-basis: 33.333333%
    }

    .MuiGrid-grid-md-6 {
        flex-grow: 0;
        max-width: 50%;
        flex-basis: 50%
    }
}

@media (min-width: 1280px) {
    .MuiGrid-grid-lg-3 {
        flex-grow: 0;
        max-width: 25%;
        flex-basis: 25%
    }

    .MuiGrid-grid-lg-4 {
        flex-grow: 0;
        max-width: 33.333333%;
        flex-basis: 33.333333%
    }

    .MuiGrid-grid-lg-6 {
        flex-grow: 0;
        max-width: 50%;
        flex-basis: 50%
    }
}

@media (min-width: 1920px) {
    .MuiGrid-grid-xl-3 {
        flex-grow: 0;
        max-width: 25%;
        flex-basis: 25%
    }

    .MuiGrid-grid-xl-4 {
        flex-grow: 0;
        max-width: 33.333333%;
        flex-basis: 33.333333%
    }

    .MuiGrid-grid-xl-6 {
        flex-grow: 0;
        max-width: 50%;
        flex-basis: 50%
    }
}

.MuiDivider-root {
    border: none;
    height: 1px;
    margin: 0;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.12)
}

.jss138 {
    width: 240px
}

.jss139 {
    color: rgba(0, 0, 0, 0.87);
    border: none;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: none;
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms
}

.jss447 {
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0 10px 15px -5px rgba(62, 57, 107, .07);
    padding-top: 24px;
    padding-left: 16px;
    margin-bottom: 24px;
    padding-right: 16px;
    padding-bottom: 24px
}

.jss447.jss454 {
    margin: 0
}

@media (min-width: 600px) {
    .jss447 {
        padding-left: 24px;
        padding-right: 24px
    }
}

.jss448 {
    display: flex;
    align-items: center;
    margin-bottom: 40px
}

@media (max-width: 959.95px) {
    .jss448 {
        margin-bottom: 24px
    }
}

.jss449 {
    flex: 1
}

.jss450 {
    color: #311B92;
    position: relative;
    font-weight: 400;
    text-transform: capitalize
}

@media (max-width: 599.95px) {
    .jss450 {
        text-align: center;
        font-weight: 600;
        margin-bottom: 8px
    }
}

.jss451 {
    max-width: 960px;
    padding-top: 4px
}

@media (max-width: 599.95px) {
    .jss451 {
        text-align: center
    }
}

.jss452 {
    margin-top: 16px;
    border-radius: 12px
}

@media (min-width: 1280px) {
    .jss452 {
        padding: 16px
    }
}

.jss453 {
    margin: 0;
    padding: 0;
    background-color: transparent
}

.MuiMobileStepper-root {
    display: flex;
    padding: 8px;
    background: #fafafa;
    align-items: center;
    flex-direction: row;
    justify-content: space-between
}

.MuiMobileStepper-progress {
    width: 50%
}

.MuiDialog-scrollPaper {
    display: flex;
    align-items: center;
    justify-content: center
}

.MuiDialog-container {
    height: 100%;
    outline: 0
}

.MuiDialog-paper {
    margin: 32px;
    position: relative;
    overflow-y: auto
}

.MuiDialog-paperScrollPaper {
    display: flex;
    max-height: calc(100% - 64px);
    flex-direction: column
}

.MuiDialog-paperWidthSm {
    max-width: 600px
}

.MuiDialogContent-root {
    flex: 1 1 auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

.MuiDialogContent-root:first-child {
    padding-top: 20px
}

.jss41 {
    padding: 0;
    overflow: hidden
}

.jss42 {
    padding: 0;
    overflow: hidden;
    padding-top: 0 !important
}

.jss43>div>div {
    overflow: hidden !important
}

.jss45 {
    width: auto;
    height: auto;
    margin: 0 auto;
    display: block;
    overflow: hidden
}

.jss46 {
    left: -25%;
    width: 150%;
    height: 255px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    border-radius: 0 0 50% 50%
}

.jss47 {
    margin: 0 auto;
    text-align: center
}

.jss48 {
    padding: 24px
}

.jss1 {
    width: 100%;
    z-index: 1;
    margin-top: 0;
    min-height: 100%
}

.jss2 {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    position: fixed;
    transition: opacity .5s ease
}

.jss3 {
    background: none
}

.jss4 {
    background: #fff
}

.jss5 {
    opacity: 0
}

.jss188 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #fafafa
}

.jss192 {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute
}

.jss192.jss191 {
    height: 64px;
}

.jss193 {
    background-color: #2196F3;
}

.jss196 {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    position: absolute
}

.jss57 {
    width: 100%;
    padding: 16px;
    overflow: hidden;
    min-height: 100%
}

@media (max-width: 1279.95px) {
    .jss57 {
        padding-left: 8px;
        padding-right: 8px
    }
}

.jss71 {
    height: 100%;
    position: relative
}

.jss71>div {
    will-change: inherit !important
}

.jss71.jss69 {
    padding-top: 64px
}

.jss8 {
    color: rgba(0, 0, 0, 0.87);
    width: 100%;
    display: flex;
    z-index: 1
}

.jss13 {
    flex-direction: row
}

@-webkit-keyframes mui-auto-fill {}

@-webkit-keyframes mui-auto-fill-cancel {}

.MuiInputBase-root {
    color: rgba(0, 0, 0, 0.87);
    cursor: text;
    display: inline-flex;
    font-size: 1rem;
    box-sizing: border-box;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    line-height: 1.1876em
}

.MuiInputBase-fullWidth {
    width: 100%
}

.MuiInputBase-input {
    flex: 1;
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1.1876em;
    margin: 0;
    display: block;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    animation-duration: 10ms;
    -webkit-tap-highlight-color: transparent
}

.MuiInputBase-input::-webkit-input-placeholder {
    color: currentColor;
    opacity: 0.42;
    transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms
}

.MuiInputBase-input:focus {
    outline: 0
}

.MuiInputBase-input:invalid {
    box-shadow: none
}

.MuiInputBase-input::-webkit-search-decoration {
    -webkit-appearance: none
}

.MuiInputBase-input:-webkit-autofill {
    animation-name: mui-auto-fill;
    animation-duration: 5000s
}

.MuiInput-root {
    border: 1px solid rgba(0, 0, 0, 0.32);
    overflow: hidden;
    position: relative;
    transition: border 0.3s ease;
    border-radius: 8px
}

.MuiInput-underline {
    align-items: flex-end
}

.MuiInput-underline:after {
    left: 0;
    right: 0;
    bottom: -1px;
    height: calc(100% + 1px);
    content: "";
    position: absolute;
    transform: scaleX(0);
    box-shadow: 0 0 1px #2196F3;
    transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    border-bottom: 2px solid #2196F3;
    border-radius: 8px;
    pointer-events: none
}

.MuiInput-underline:before {
    left: 0;
    right: 0;
    bottom: 0;
    content: "\00a0";
    display: none;
    position: absolute;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    pointer-events: none
}

.MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom: 2px solid rgba(0, 0, 0, 0.87)
}

@media (hover: none) {
    .MuiInput-underline:hover:not(.Mui-disabled):before {
        border-bottom: 1px solid rgba(0, 0, 0, 0.42)
    }
}

.MuiChip-root {
    color: rgba(0, 0, 0, 0.87);
    border: none;
    cursor: default;
    height: 32px;
    display: inline-flex;
    outline: 0;
    padding: 0;
    font-size: 0.8125rem;
    box-sizing: border-box;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    align-items: center;
    font-family: Open Sans, sans-serif;
    white-space: nowrap;
    border-radius: 16px;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    background-color: #e0e0e0;
}

.MuiInput-input {
    padding: 10px;
    font-size: 14px
}

.MuiFormControl-root {
    border: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top
}

.MuiFormControl-fullWidth {
    width: 100%
}

.jss427 {
    margin: 8px 0
}

@-webkit-keyframes style_loading__2pb7J {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes style_loading__2pb7J {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.paperpadder {
    padding: 5px 5px
}

html {
    zoom: 1;
}

@media only screen and (max-width: 600px) {
    html {
        zoom: .8;
    }

    .MuiDrawer-root.MuiDrawer-docked {
        display: none;
    }

    .jss129 {
        display: none;
    }
}

input.jss329 {
    top: 0;
    left: 0;
    width: 100%;
    cursor: inherit;
    height: 100%;
    margin: 0;
    opacity: 0;
    padding: 0;
    z-index: 1;
    position: absolute;
}

.MuiFormControlLabel-root {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-left: -11px;
    margin-right: 16px;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

.MuiButton-contained.Mui-disabled {
    color: rgba(0, 0, 0, 0.26);
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.12);
}

.MuiButton-root.Mui-disabled {
    color: rgba(0, 0, 0, 0.26);
}

.MuiButtonBase-root.Mui-disabled {
    cursor: default;
    pointer-events: none;
}

button:disabled,
input[type="button"]:disabled,
input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.MuiButton-contained_disclaimer {
    color: rgba(0, 0, 0, 0.87);
    box-shadow: none;
    background-color: #e0e0e0;
}

@media (max-width: 960px) {
    .MuiGrid-grid-xs-1 {
        flex-grow: 0;
        max-width: 8.333333%;
        flex-basis: 8.333333%;
    }

    .MuiGrid-grid-xs-10 {
        flex-grow: 0;
        max-width: 83.333333%;
        flex-basis: 83.333333%;
    }

    .MuiGrid-grid-xs-6 {
        flex-grow: 0;
        max-width: 50%;
        flex-basis: 50%;
    }

    .MuiDisclaimMob {
        font-size: 130%;
        line-height: 1.8;
    }

    .MuiButton-label {
        font-size: 120%;
    }

    .MuiSvgIcon-root {
        font-size: 1.8rem;
    }

    .MuiFormControlLabel-label {
        font-size: 125%;
    }
}

@media (min-width: 960px) {
    .MuiGrid-grid-md-4 {
        flex-grow: 0;
        max-width: 33.333333%;
        flex-basis: 33.333333%;
    }

    .MuiGrid-grid-md-4 {
        flex-grow: 0;
        max-width: 33.333333%;
        flex-basis: 33.333333%;
    }
}

.jss307 {
    margin: 8px 0;
}